<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Buttons Above Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F9FC2E81D06EF1100604261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F9FC2FC1D06EF1100604261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F9FC3071D06EF1100604261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
