<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Add New Item.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F9F03E71CF088560024F0B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F9F03FB1CF088560024F0B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F9F04061CF088560024F0B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
